API_IP=0.0.0.0
API_PORT=8000
WEB_WORKERS=1
DJANGO_ALLOWED_HOSTS=localhost,0.0.0.0,127.0.0.1
DATABASE_URL=postgresql://pyservicesheet@:5432/pyservicesheet
DJANGO_SECRET_KEY=fh2j789fhj82y782hj92hj92ej892j89j29
DJANGO_DEBUG=True
SITE_URL=http://localhost